{% extends 'dashboard/base.html' %}

{% block content %}
<div>
    <h3>
        {{plan.customer}} - {{plan.plan_type}} for {{plan.month}}
    </h3>
</div>
<form method="POST" action="">
    {% csrf_token %}
    
    {{formset.management_form}}
   
    <table class="table-sm">
    
        <thead>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>3 Year Avg Sales for period</th>
        </thead>
        <tbody>
            {% for form in formset.forms %}
                <tr>
                    {% for field in form %}
                        <td>{{field}}</td>
                    {% endfor %}  
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
    <input type="submit", value="Submit">
</form>
{% endblock content %}